<div class="container"> 
 <h1>New apartament</h1>

  <%= render "form", apartament: @apartament %>

  <br>

  <div>
    <%= link_to "Torna alle offerte", apartaments_path, class:'btn btn-secondary w-100' %>
  </div>
</div>